# Git
.git
.gitignore

# IDE/OS
.idea
.vscode
*.iml
.DS_Store

# Node/Composer (aucun Composer utilisé côté projet, mais on garde ces patterns génériques)
node_modules
vendor
composer.lock

# Code du shop généré (persistant via volume)
prestashop

# Docker
.env
docker-compose.override.yml
