services:
  _defaults:
    public: true

  PrestaShop\Module\PrestashopBulkAction\Controller\Admin\BulkActionController:
    autowire: true
    autoconfigure: true
    public: true
    tags: ['controller.service_arguments']
